In [ ]:
def junior_senior_comp(total_amount, jun_work_time = 1, sen_work_time = 1):
  jun_coeff = 1
  sen_coeff = 2
  base_duration = min(jun_work_time, sen_work_time)
  #print(base_duration)
  jun_time_rate = jun_work_time/base_duration
  sen_time_rate = sen_work_time/base_duration
  #print(jun_time_rat,sen_time_rat)
  no_of_rates = jun_coeff*jun_time_rate + sen_coeff*sen_time_rate
  base_payment = total_amount/no_of_rates
  #print(total_amount, no_of_rats,base_payment)
  jun_income = base_payment*jun_coeff*jun_time_rate
  sen_income = base_payment*sen_coeff*sen_time_rate

  return {'junior income': jun_income,  'senior income': sen_income}

In [ ]:
junior_senior_comp(9000, 20, 10)

{'junior income': 4500.0, 'senior income': 4500.0}

In [ ]:
def income_sharing(total_amount, position1 = "Junior", work_time1 = 1, position2 = "Senior", work_time2 = 1):
  jun_coeff = 1
  sen_coeff = 2
  base_duration = min(work_time1, work_time2)
  #print(base_duration)
  time_rat1 = work_time1/base_duration
  time_rat2 = work_time2/base_duration
  #print(jun_time_rat,sen_time_rat)
  if position1 == "Junior":
    rate1 = jun_coeff*time_rat1
  elif position1 == "Senior":
    rate1 = sen_coeff*time_rat1
  
  if position2 == "Junior":
    rate2 = jun_coeff*time_rat2
  elif position2 == "Senior":
    rate2 = sen_coeff*time_rat2

  no_of_rates = rate1 + rate2
  base_payment = total_amount/no_of_rates
  #print(total_amount, no_of_rats, base_payment)

  income1 = base_payment*rate1
  income2 = base_payment*rate2

  return {'first income': income1,  'second income': income2}

In [ ]:
income_sharing(9000,"Junior", 20,"Junior", 10)

{'first income': 6000.0, 'second income': 3000.0}

In [ ]:
class ProjectIncome:
    def __init__(self, income_amount):
        self.income_amount = income_amount

class Employee:
    JUN_COEFF = 1
    SEN_COEFF = 2
    def __init__(self, employee_name, employee_position, working_hour):
        self.employee_name = employee_name
        self.employee_position = employee_position
        self.working_hour = working_hour


    def calculate_salary(self,ProjectIncome,emp1):
      self.base_duration = min(self.working_hour, emp1.working_hour)

      self.time_rate = self.working_hour/self.base_duration
      emp1.time_rate = emp1.working_hour/self.base_duration

      if self.employee_position == "Junior":
        self.rate = Employee.JUN_COEFF*self.time_rate
      elif self.employee_position == "Senior":
        self.rate = Employee.SEN_COEFF*self.time_rate

      if emp1.employee_position == "Junior":
        emp1.rate = Employee.JUN_COEFF*emp1.time_rate
      elif emp1.employee_position == "Senior":
        emp1.rate = Employee.SEN_COEFF*emp1.time_rate

      no_of_rates = emp1.rate + self.rate
      base_payment = ProjectIncome/no_of_rates
      #print(total_amount, no_of_rats, base_payment)

      self.income = base_payment*self.rate
      return self.income

In [ ]:
jun = Employee('A.S','Junior',12)
sen = Employee('A.F','Senior',12)

In [ ]:
print(jun.calculate_salary(3500, sen))
print(sen.calculate_salary(3500, jun))

1166.6666666666667
2333.3333333333335